*{
	padding: 0px;
	margin: 0px;
}

body{
	font-family: 'Permanent Marker', cursive;
	background: url(../image/background01.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.container{
	width: 600px;
    margin: 10% auto;
}

.register-form {    
	background-color: #204a22bf;
    padding: 25px;
}

.register-form h2 {
	text-align: center;
    color: white;
    font-size: 32px;
    text-transform: uppercase;
    margin: 10px;	
}

.register-form img {
	margin: 0 auto;
    display: block;
    width: 166px;
    height: 150px;
}

.form-control {
	width: 97%;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 21px;
    font-style: italic;
    background-color: greenyellow;
}

.btn {
    background: #03030e;
    margin: auto;
    display: block;
    color: yellow;
    font-size: 19px;
    padding: 31px 48px;
    border: none;
    text-transform: uppercase;
    border-radius: 36px;
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
}

.btn:hover {
	box-shadow: 2px 2px 4px white;
	cursor: pointer;
	font: 23px
}