body{
	<!--background-color: yellow;-->

}


*{
	padding: 0px;
	margin: 0px;
}

body{
	font-family: 'Nova Slim', cursive;
	background: url(../image/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.container{
	width: 600px;
    margin: 10% auto;
}

.login-form {    
	background-color: #425f9bad;
    padding: 25px;}

.login-form h2 {
	text-align: center;
    color: white;
    font-size: 32px;
    text-transform: uppercase;
    margin: 10px;	
}

.login-form img {
	margin: 0 auto;
    display: block;
    width: 150px;
    height: 150px;
}

.form-control {
	width: 97%;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
}

.btn {
	background: darkblue;
    margin: auto;
    display: block;
    color: white;
    padding: 10px 34px;
    border: none;
    text-transform: uppercase;
    border-radius: 30px;
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
}


.btn:hover {
	box-shadow: 2px 2px 4px white;
	cursor: pointer;
}